@import "./base.css";

@font-face {
  font-family: "FiraMono";
  src: url("FiraMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraMono";
  src: url("FiraMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraMono";
  src: url("FiraMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Grok";
  src: url("Grok.ttf");
}
@font-face {
  font-family: "Unison";
  src: url("Unison.otf");
}
